<!DOCTYPE html>
<html lang="en" ng-app="IssueTrackingSystem">
    <head>
        <meta charset="UTF-8">
        <title>Issue Tracking System</title>
        <link rel="stylesheet" href="styles/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="stylesheet" href="styles/ng-notify.min.css" />
        <link rel="shortcut icon" href="images/favicon/issueTrackerFavicon.ico" />
    </head>
    <body ng-controller="MainController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Issue Tracker</span>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-main">
                <ul user-require ng-if="isAuthenticated()" class="nav navbar-nav">
                    <li>
                        <a href="#/Dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="#/Profile/Password">Profile</a>
                    </li>
                    <li>
                        <a href="#/Users" user-require ng-if="currentUser.isAdmin">Users</a>
                    </li>
                    <li>
                        <a href="#/Projects/" user-require ng-if="currentUser.isAdmin">Projects</a>
                    </li>
                </ul>

                <ul user-require ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-controller="HomeController" href="#/Logout" ng-click="logoutUser()">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div id="offset"></div>
    <div class="container">
        <div ng-view>

        </div>
    </div>

    <script src="js/components/angular/angular.js" type="text/javascript"></script>
    <script src="js/components/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="js/components/angular-simple-pagination/simplePagination.js" type="text/javascript"></script>
    <script src="js/components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="js/components/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="js/components/angular-notify/ng-notify.min.js" type="text/javascript"></script>
    <script src="js/extensions/notifier.js" type="text/javascript"></script>
    <script src="js/issueTrackingSystemApp.js" type="text/javascript"></script>
    <script src="js/users/authentication.js" type="text/javascript"></script>
    <script src="js/users/identity.js" type="text/javascript"></script>
    <script src="js/users/admin.js" type="text/javascript"></script>
    <script src="js/users/changePassword.js" type="text/javascript"></script>
    <script src="js/issues/issues.js" type="text/javascript"></script>
    <script src="js/projects/projects.js" type="text/javascript"></script>
    <script src="js/users/profile-controller.js" type="text/javascript"></script>
    <script src="js/users/users-controller.js" type="text/javascript"></script>
    <script src="js/common/main-controller.js" type="text/javascript"></script>
    <script src="js/home/home-controller.js" type="text/javascript"></script>
    <script src="js/dashboard/dashboard-controller.js" type="text/javascript"></script>
    <script src="js/issues/issue-controller.js" type="text/javascript"></script>
    <script src="js/issues/add-issue-controller.js" type="text/javascript"></script>
    <script src="js/projects/projects-controller.js" type="text/javascript"></script>
    <script src="js/projects/current-project-controller.js" type="text/javascript"></script>
    </body>
</html>