<div class="row">
    <div class="margin-top-60"></div>
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal" name="loginUserForm">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group">
                        <label for="login-email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="logUser.Email" required="required" class="form-control" id="login-email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="logUser.Password" required="required" class="form-control" id="login-password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Clear</button>
                            <button type="submit" ng-disabled="loginUserForm.$invalid" ng-click="loginUser(logUser)" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal" name="registerUserForm">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label for="reg-email" class="col-lg-4 control-label">Email</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="regUser.Email" required="required" class="form-control" id="reg-email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reg-password" class="col-lg-4 control-label">Password</label>
                        <div class="col-lg-8">
                            <input type="password" ng-model="regUser.Password" minlength="6" maxlength="100" required="required" class="form-control" id="reg-password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reg-confirm-password" class="col-lg-4 control-label">Confirm Password</label>
                        <div class="col-lg-8">
                            <input type="password" ng-model="regUser.ConfirmPassword"  minlength="6" maxlength="100"  required="required" class="form-control" id="reg-confirm-password" placeholder="Confirm Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-4">
                            <input type="reset" class="btn btn-default" value="Clear" />
                            <input type="submit" ng-disabled="registerUserForm.$invalid || regUser.Password != regUser.ConfirmPassword" ng-click="registerUser(regUser)" class="btn btn-primary" value="Register" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>